*{
    font-family: roboto,Arial, Helvetica, sans-serif;
}

.hero{
    background-image: url(images/main-page-1.webp);
    background-repeat: no-repeat;
    background-position: 0% 10%;
}


.text-1{
    font-size: 48px;

}

.text-2{
    font-size: 20px;
}

.card,
.card-img-top{
    border-radius: 10%;
}
.hero-2{
    background-image: url(images/page-2.webp);
    background-repeat: no-repeat;
    background-position: 0% 75%;
}

.hero-2,.hero-3,.hero-4,.hero-5,.hero-6,.hero-7,.hero-8,.footer{
    height: 100vh;
}


@media(max-width: 767px){
    .hero-2,
    .hero-3,.hero-4,.hero-5,.hero-6,.hero-7,.hero-8,.footer{
        height:auto;
    }
    
}

.hero-4{
    background-image: url(images/page-4.webp);
    background-repeat: no-repeat;
    background-position: 0% 75%;
}


@media(max-width: 767px){
    .hero-4{
        background-position:0% 125%;
    }
    
}

.hero-7{
    background-image: url(images/page-7.webp);
    background-repeat: no-repeat;
    background-position: 0% 125%;
}

.hero-8{
    background-image: url(images/page-8.webp);
    background-repeat: no-repeat;
    background-position: 100% 125%;
}


@media(max-width: 767px){
    .hero-8{
        background-position:0% 50%;
    }
    
}


@media(max-width: 767px){
    .footer-1{
        display: none;
    }
    
}

.footer-2{
    background-color: rgba(11,92,171,1);
    height: 20%;
}